html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: beige;
  padding: 30px 30px;
  /* max-width: 1200px; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
ul {
  list-style: none;
  margin: 0;
}
.search-form {
  text-align: center;
  align-items: center;
}

.js-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 16px;
  padding: 0 20px;
  list-style: none;
}
.js-gallery img {
  display: block;
  width: 100%;
  height: 250px;
}
.stats {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(194, 188, 188);
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.material-icons {
  align-items: flex-start;
}
.list-item {
  border-radius: 10px;
  box-shadow: 10 10;
}
input {
  border: 1px solid #cccccc;
  border-radius: 5px;
  box-shadow: rebeccapurple 2px 2px 2px;
  background: #ffffff;
  outline: none;
  height: 36px;
  width: auto;
  color: purple;
  font-size: 24px;
  font-family: Tahoma;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {
  background-color: purple;
}

.button:active {
  background-color: purple;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.load-btn {
  display: inline-block;
  width: 15em;
  font-size: 80%;
  margin-top: 30px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: #2e7ebd 0 1px 2px;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  line-height: 1.1;
  white-space: pre-line;
  padding: 0.7em 0;
  border: 1px solid;
  border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
  border-radius: 6px;
  outline: none;
  background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
  box-shadow: inset rgba(255, 255, 255, 0.5) 1px 1px;
}
.load-btn:first-line {
  font-size: 170%;
  font-weight: 700;
}
.load-btn:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
}
.load-btn:active {
  color: rgb(255, 255, 255);
  border-color: #2970a9;
  background-image: linear-gradient(#5796c8, #6aa2ce);
  box-shadow: none;
}
